
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


/*Reseteamos los valores de la pagina*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
body{
    font-family: 'Open Sans', sans-serif;
    color: #222;
    padding-bottom: 50px;
    background-color: #b0b0b0;
}
/*Ajustamos ancho de la pagina*/
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.nav{
    position: fixed;
    background-color: #222;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
}
.nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
}
.nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}
.nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
}
.nav.active{
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.nav.active a{
    color: #000;
}
.nav.active .container{
    padding: 10px 0;
}
.nav a.current,
.nav a:hover{
    color: #c0392b;
    font-weight: bold;
}
.hero{
    background-image: url('/img/almacenamiento-oscuro-completo-o-gran-variedad-neumaticos-nuevos-almacen-ocupado.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom center;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
}
.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}
.hero h1{
    font-size: 46px;
    margin: -20px 0 20px;
}
.hero p{
    font-size: 20px;
    letter-spacing: 1px;
}

/*Productos*/

.products{
    padding: 0 0 50px 0;
    text-align: center;
}
h2{
    font-size: 40px;
    color: #111419;
}
.box-container{
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:20px
}
.box {
    
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #f6fafb;
    display: none;
}
.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3),
.box:nth-child(4),
.box:nth-child(5),
.box:nth-child(6),
.box:nth-child(7),
.box:nth-child(8) {
    display: inline-block;
}
.box img{
    height: 200px;
}
.product-txt h3 {
    font-size: 20px;
    color: #111419;
    margin-bottom: 10px;
}
.product-txt p {
    margin-bottom: 25px;
    color: #515557;
}
.precio {
    font-size: 17px;
    font-weight: 700;
    color: #FF9100 !important;
}
.btn-2, .btn-3 {
    text-decoration: none;
    background-color: #851717;
    margin-top: 50px;
    display: inline-block;
    padding: 11px 35px;
    border-radius: 25px;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn-2:hover, .btn-3:hover, .btn-1:hover {
    background-color: #ff6868;
}
.btn-3 {
    margin: 0;
    padding: 8px 25px;
    border-radius: 5px;
}
/*Fin de productos*/

/*FOOTER*/
footer{
    margin-top: 20px;
    position: relative;
    background: #222;
    padding-top: 25px;
    left: 0;
    bottom: 0%;
    width: 100%;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
}
.footer-content h3{
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 1px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: rgb(243, 27, 27);
}
.footer_bottom{
    width: 100%;
    padding: 1px 0;
    text-align: center;
}
.footer_bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: #fff;
}
.footer_bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.integrantes {
    line-height: 200%;
}
.integrantes ul a{
    color: #000;
}
/*Fin Footer*/