@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/*Reseteamos los valores de la pagina*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    color: #222;
    background-image: url("/img/body/Tire\ tracks\ .svg");
    background-color: #d3d3d3;
    position: relative;
    padding-bottom: 150px;
    min-height: 100vh;
}
/*Ajustamos ancho de la pagina*/
/*nav*/
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.nav{
    background-color: #222;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}
.nav img{
    width: 150px;
    height: 40px;
}
.nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
}
.nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}
.nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
}
.nav.active{
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.nav.active a{
    color: #000;
}
.nav.active i{
    color: #000;
}
.nav.active .container{
    padding: 10px 0;
}
.nav a.current,
.nav a:hover{
    color: #c0392b;
    font-weight: bold;
}
.fa-cart-shopping{
    color: #FFFFFF;
    cursor: pointer;
}
.contador{
    color: #FFFFFF;
    font-size: 15px;
    margin-left: 2px;
}
.nav.nav.active span{
    color: #000;
}
/*Fin nav*/
/*Cart*/
.carrito-vacio{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background: #fff;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}
.carrito-vacio span{
    padding-top: 20px;
}
.carrito-vacio p{
    font-size: 20px;
}
.contenedor{

    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 30px;
}
.contenedorProductos{
    flex-direction: column;
}
.carrito-producto-eliminar{
    cursor: pointer;
    border: none;
}
.carrito-producto{
    padding-bottom: 20px;
    width: 940px;
    height: 300px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative; 
    
}
.item{
    padding: 10px 20px;
    text-align: left;
    border: 1px solid #1d1d1d13;
    background: #fff;

}
.item span{
    font-size: 15px;
}
.item h2{
    font-size: 30px;
}
.item img{
    padding-left: 10px;
    width: 80px;
    height: 80px;
    padding-left: 5px;
}
.item:first-child{

    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    flex: 1;
    display: flex;
}
.item:nth-child(2){
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 1px;
    flex: 2;
}
.item:last-child{
    margin-top: 1px;
    border-bottom-left-radius: 5px ;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex: 1;
}
/*Fin Cart*/
/*Resumen de compra*/
.resumen-compra{
    width: 400px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.resumen{
    padding: 10px 20px;
    text-align: left;
    border: 1px solid #1d1d1d13;
    background: #fff; 
}
.resumen h2{
    font-size: 20px;
}
.resumen:first-child{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    flex: 1;
}
.resumen:last-child{
    margin-top: 1px;
    border-bottom-left-radius: 5px ;
    border-bottom-right-radius: 5px;
    justify-content: space-between;
    flex: 2;
}
.producto{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.button{
    text-decoration: none;
    background-color: #1b60f5;
    margin-top: 20px;
    margin-left: 10px;
    display: inline-block;
    padding: 10px 150px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
}
.button-1{
    text-decoration: none;
    margin-left: 10px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px 103px;
    border-radius: 5px;
    background-color: #1b60f5;
}
.button:hover, .button-1:hover{
    background-color: #3d67c0;
}
/* Fin Resumen de compra*/
.disabled{
    display: none;
}
/*FOOTER*/
footer{
    margin-top: 20px;
    position: absolute;
    background: #222;
    padding-top: 25px;
    left: 0;
    bottom: 0;
    width: 100%;

}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
}
.footer-content h3{
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 1px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: rgb(243, 27, 27);
}
.footer_bottom{
    width: 100%;
    padding: 1px 0;
    text-align: center;
}
.footer_bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: #fff;
}
.footer_bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.integrantes {
    line-height: 200%;
}
.integrantes ul a{
    color: #000;
}
/*Fin Footer*/