body {
margin: 0px;
font-family: Arial, Helvetica, sans-serif;
}

button {
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 10px 20px;
}

.button-checkout {
    background-color: white;
    color: black;
    border: 2px solid #902d02; 
    transition-duration: 0.4s;
    position: relative;
    margin-top: 15px;
    right: 15px;
    margin-left: 15px;
    bottom: 15px;
}

.button-checkout:hover {
    background-color: #902d02; 
    color: white;
}

.page-content {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid white;
}

.product-container {
    margin: 15px;
    padding: 2px 16px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    background-color: white;
}

.product-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.product-container img {
    width: 300px;
}

.product-container h3 {
    margin-bottom: 10px;
    margin-left: 10px;
}

.button-add {
    background-color: white;
    color: black;
    border: 2px solid #902d02; 
    transition-duration: 0.4s;
    position: relative;
    margin-top: 15px;
    right: 15px;
    margin-left: 15px;
    bottom: 15px;
}
  
.button-add:hover {
    background-color: #902d02; 
    color: white;
}