<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cart.css">
    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <script src="/views/index.js"></script>
    <title>Track Route</title>
</head>
<body>
    <nav class="nav">
        <div class="container">
          <a href="/users/index"><img src="/img/logo/LOGO TRACK ROUTE BLANCO.png" alt=""></a>
          <ul>
            <li><a href="/users/index" class="current">Inicio</a></li>
            <li><a href="#main">Productos</a></li>
            <li><a href="#">Contactos</a></li>
            <li><a href=""><i class="fa fa-cart-shopping"></i><span id="contador" class="contador"></span></a></li>
          </ul>
        </div>
    </nav>
    <main class="contenedor">
      <div id="carrito-vacio" class="carrito-vacio">
        <p>Tu carrito está vacio!</p>
        <span><i class="fa-solid fa-bag-shopping fa-2xl"></i></span>
      </div>
      <div class="contenedorProductos disabled" id="carrito-productos">
        <!--Es completado con carrito.js-->
      </div>
        <div class="contenedorResumen disabled" id="carrito-acciones">
          <article class="resumen-compra">
            <div class="resumen">
                <h2>Resumen de compra</h2>
            </div>
            <div class="resumen">
                <div class="producto">
                    <p>Producto</p>
                    <p id="prod"></p>
                </div>
                <div class="producto">
                    <span>Envío</span>
                    <span>Gratis</span>
                </div>
                <div class="producto">
                    <span>Total</span>
                    <p id="total"></p>
                </div>
                <div class="producto">
                    <button id="checkout-btn" class="button">Pagar</button>
                </div>
                <div class="producto">
                  <a href="/users/index" class="button-1">Seguir comprando</a>
              </div>
            </div>
          </article> 
    </div>
    </main>
    <footer>
        <div class="footer-content">
          <h3>Track Router</h3>
          <p>Tu camino, nuestra cubierta</p>
          <ul class="socials">
            <li>
              <a href="#"><i class="fa fa-instagram"></i> Instagram</a>
            </li>
            <li>
              <a href="mailto:fedesosa863@gmail.com" rel="noreferrer"><i class="fa-regular fa-envelope"></i> Correo</a>
            </li>
            <li>
              <a href="https://github.com/CodeSystem2022/InfinityCode-4to-Semestre" target="_blank"
                ><i class="fa fa-github"></i> GitHub</a
              >
            </li>
          </ul>
        </div>
        <div class="footer_bottom text-center">
          <p>
            Todos los derechos reservados &copy; 2023
            <b>InfinityCode Soft.</b>
          </p>
        </div>
    </footer>
    <script src="/index.js"></script>
    <script src="/js/carrito.js"></script>
    <script src="https://kit.fontawesome.com/1d5555c7d8.js" crossorigin="anonymous"></script>
</body>
</html>